# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Build output
dist/
dist-ssr/

# TypeScript build info
*.tsbuildinfo

# Environment variables
.env
*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore temporary files
*.tmp
.history